/* Bars Icon

  Size availablity:
  [-] 16x16
  [ ] 32x32
  [ ] 48x48
  [ ] 64x64
  [ ] 128x128

 */

.ci-bars
  background stroke-color
  width 16px
  height 2px
  top 7px
  left 0
  &::before
  &::after
    background stroke-color
    width 16px
    height 2px
    left 0
  &::before
    top -6px
  &::after
    top 6px
