/* Base styles */

.ci
  box-sizing border-box
  display inline-block
  font-size inherit
  font-style normal
  font-weight normal
  line-height 1
  position relative
  vertical-align top
  &::before,
  &::after
    content ''
    display block
    position absolute
    box-sizing inherit
