/* Clock Icon

  Size availablity:
  [-] 16x16
  [-] 32x32
  [-] 48x48
  [ ] 64x64
  [ ] 128x128

 */
.ci-clock
  border 2px solid border-color
  border-radius 50%
  width 16px
  height @width
  &::before
  &::after
    border-radius 1px
  &::before
    border-left 2px solid border-color
    height 7px
    left 5px
    top 0px
  &::after
    border-top 2px solid border-color
    width 6px
    left 5px
    top 6px
.ci-clock-32
  width 32px
  height @width
  &::before
    height 15px
    left 13px
    top 1px
  &::after
    border-top 2px solid border-color
    width 12px
    left 13px
    top 14px
.ci-clock-48
  width 48px
  height @width
  border-width 3px
  &::before
    height 22px
    left 20px
    top 1px
  &::after
    border-top 3px solid border-color
    width 18px
    left 21px
    top 20px
