/* Heart Icon

  Size availablity:
  [-] 16x16
  [ ] 32x32
  [ ] 48x48
  [ ] 64x64
  [ ] 128x128

 */

.ci-heart
  width 16px
  height @width
  &::before
  &::after
    border-radius: 16px 16px 0 0
    width 8px
    height 14px
    background stroke-color
    transform: rotate(45deg) translate(3px, -4px)

  &::after
    transform: rotate(-45deg) translate(1px, 0px)
