/* Mail Icon

  Size availablity:
  [-] 16x16
  [ ] 32x32
  [ ] 48x48
  [ ] 64x64
  [ ] 128x128

 */

.ci-mail
  border 2px solid stroke-color
  border-radius 2px
  height 16px
  width @height * 1.2
  &::before
    border-bottom 0
    border-left 0
    border-top 2px solid stroke-color
    border-right 2px solid stroke-color
    border-radius 2px
  &::before
    width 13px
    height 13px
    transform rotate(135deg)
    top -6px
    left 1px
