/*!
 *  Pure CSS Icons 0.1.0
 *  A collection of pure CSS icons.
 *  Github: https://zhe.gitbub.com/pure-css-icons
 *  License: MIT License
 */

/* Variables */
@import '_variables'

/* Base styles */
@import '_base'

/* Icon style files */
@import '_comment'
@import '_clock'
@import '_pen'
