doctype html
html(lang="en")
  head
    title Pure CSS Icons
    link(href='css/main.css', rel='stylesheet')
    link(href='../dist/pure-css-icons.css', rel='stylesheet')
  body

    h2 Pure CSS Icons
    
    div.pure-css-icons
      ul.icons-list
        li
          span.ci.ci-comment
        li
          span.ci.ci-clock
        li
          span.ci.ci-pen
      ul.icons-list-32
        li
          span.ci.ci-comment.ci-comment-32
        li
          span.ci.ci-clock.ci-clock-32
        li
          span.ci.ci-pen.ci-pen-32
      ul.icons-list-48
        li
          span.ci.ci-comment.ci-comment-48
        li
          span.ci.ci-clock.ci-clock-48
        li
          span.ci.ci-pen.ci-pen-48

    p
      span.ci.ci-comment
      | This is some text
